<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Capstone_Group2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Capstone_Group2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Account" font-family="bauhaus 93" asp-action="Login">TimeWize</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="GetAllTasks">Tasks</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="GetAddTaskRequest">Create</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Calendar" asp-action="Calendar">Calendar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                            </li>
                        </ul>
                    }

                    @using Capstone_Group2.Entities
                    @using Microsoft.AspNetCore.Identity
                    @inject SignInManager<User> _signInManager

                    <ul class="navbar-nav">
                        @if (_signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form class="form-inline d-flex align-items-center" asp-controller="Account" asp-action="LogOut" method="post">
                                    <img src="/images/user.png" alt="User Icon" style="height: 30px; width: 30px" />
                                    <input type="submit" class="nav-link btn btn-link text-dark ml-2" value="Logout @User.Identity.Name" />
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <form class="form-inline d-flex align-items-center" asp-controller="Account" asp-action="LogIn" method="post">
                                    <img src="/images/user.png" alt="User Icon" style="height: 30px; width: 30px" />
                                    <input type="submit" class="nav-link btn btn-link text-dark ml-2" value="Login" />
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Capstone_Group2 Conestoga College - B Yang, R Zinampan, J Arand.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
