
<html>
<head>
    <style>
        .text-center {
            text-align: center; 
        }

        .box-container {
            display: flex; 
            justify-content: center;
        }

        .box {
            width: 400px;
            height: 300px;
            border: 1px solid;
            text-align: center;
            margin: 10px; 
        }
    </style>
</head>
<body>
    <div class="aboutH1">
        <h1 class="display-4">The TimeWize Team</h1>
    </div>
    <div class="box-container">
        <div class="box">
            <div class="image-container">
                <img src="~/images/Bin_img.jpg" alt="Bin Yang Photo">
            </div>
            <h2>Bin Yang</h2>
            <p>Project Manager, Software Developer</p>
        </div>
        <div class="box">
            <div class="image-container">
                <img src="~/images/rz_img.png" alt="Romnick Photo">
            </div>
            <h2>Romnick Zinampan</h2>
            <p>Software Developer</p>
        </div>
        <div class="box">
            <div class="image-container">
                <img src="~/images/JA_img.jpg" alt="James Arand Photo">
            </div>
            <h2>James Arand</h2>
            <p>Software Developer</p>
        </div>
    </div>
    </br>
    </br>

    <div class="contactus">
        <p>Thank you for joining the TimeWize Team!</p>
        <p>We are always looking for feedback to make our task manager more suited to your needs!</p>
        <p>If you have any questions or comments, please Contact Us at <a href="mailto:TimeWizeCapstone@gmail.com?subject=TimeWize_Feedback">TimeWizeCapstone@gmail.com</a></p>
    </div>
    
</body>
</html>

